:root{
  background-color: #141414;
  --myTheme-yellow: #FDC700;
  --myTheme-black: #141414;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-cyqh1t-MuiPaper-root-MuiDrawer-paper{
  overflow-x: hidden;
}


#favoriteDrawerCloseButton{
  color: white;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#favoriteDrawerCloseButton::before{
  content: '';
  background-color: var(--myTheme-yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 170px;
  height: 170px; 
  transition: all 0.5s ease-in-out;
  
}


#favoriteDrawerCloseButton:hover::before{
 border-radius: 0;
}



@media screen and (max-width: 676px){
  #favoriteDrawerCloseButton::before{
    width: 120px;
    height: 120px;
  }
}